<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 44.64px">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>Swin</title>
  <script src="/js/block.js"></script>
  
  
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/modules-3ee1a0d5.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/native/index-09743dd6.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/en-cff984dc.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/rus-ecb14220.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/vi-edb4f658.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/id-16b6cb52.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/hd-c5b1d7e8.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/tha-330057b2.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/md-e8a5e3b0.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/bra-e19d7dd2.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/my-32fb9d60.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/bdt-d8f19d0c.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/zh-116b9972.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/pak-656a575f.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/ar-1c9ff85b.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club.la/assets/js/page-activity-b0cc3a5b.js"> 
  <link rel="stylesheet" href="https://91club.la/assets/css/modules-b642e9bc.css"> 
  <link rel="stylesheet" href="https://91club.la/assets/css/page-activity-f0ca3544.css"> 
  <link rel="stylesheet" href="https://91club.la/assets/css/index-37794937.css"> 
  <link rel="stylesheet" href="https://91club.la/assets/css/reset-18dc7e67.css">
  <link rel="stylesheet" href="https://91club.la/assets/css/reset-caf052b6.css">
  <link rel="stylesheet" href="https://91club.la/assets/css/root-a9d5bd50.css">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club.la/assets/js/page-home-d40a6f97.js">
  <link rel="stylesheet" href="https://91club.la/assets/css/page-home-384125d0.css">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club.la/assets/js/home-c399e427.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club.la/assets/js/activity-f120a1f9.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club.la/assets/js/promotion-cfd8aaa9.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club.la/assets/js/wallet-4bef7d62.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club.la/assets/js/main-1686ee63.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club.la/assets/js/page-login-95ed0718.js">
  <link rel="stylesheet" href="https://91club.la/assets/css/page-login-c969a7dc.css">
 
  
  
  
  
  <link rel="stylesheet" href="/css/bet/wingo/main.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c1.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c2.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c3.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c4.css" />
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #090909;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }
  </style>

      <style>
        /* The Modal (background) */
        .modal {
            display: blocked; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 20001; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
        }
        .text-over-image {
            position: absolute; /* Position relative to the parent element */
            top: 35%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust the positioning */
            color: #fff; /* Text color */
            font-size: 24px; /* Text size */
            font-weight: bold; /* Text weight */
            text-align: center; /* Center text */
        }
        .text-over-image-l {
            position: absolute; /* Position relative to the parent element */
            top: 48%; /* Center vertically */
            left: 49%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust the positioning */
            color: #fff; /* Text color */
            font-size: 10px; /* Text size */
            font-weight: bold; /* Text weight */
            text-align: center; /* Center text */
        }
        /* Modal Content */
        .modal-content {
            text-align: -webkit-center;
            position: relative;
            top: 20%;
        }
        .modal-content img {
            width: 280px; /* Use this to ensure the image is full width */
            height: auto; /* Adjust height automatically */
            display: block; /* Change display to block to avoid extra space */
        }
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        /* Circle button style */
        .close-btn {
            border: 2px solid #fff; /* Black border */
            border-radius: 50%; /* Circle shape */
            background-color: transparent; /* Transparent background */
            width: 30px; /* Width and height should be equal for a circle */
            height: 30px; /* Width and height should be equal for a circle */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-top: 10px;
        }

        .close-btn:hover {
            background-color: #ddd; /* Light grey background on hover */
        }

        /* "X" line style */
        .close-x {
            font-size: 35px; /* Large font size for the "X" */
            font-family: none;
            line-height: 1; /* Tight line height for the "X" */
            color: #fff; /* Black color for the "X" */
            padding: 0; /* No padding */
            margin: 0; /* No margin */
        }
        .text-over-image-2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
 .text-over-image-3 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8c4500;
    font-size: 12px;
    font-weight: none;
    text-align: center;
}
.btn-boox {
        background: linear-gradient(to bottom, #20d90a, #aae69d);
        border: none;
        color: white;
        padding: 5px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 4px;
        cursor: pointer;
        font-family: monospace;
        border-radius: 5px; 
}
    </style>
</head>

<body style="font-size: 12px">
    <div id="app">
    <div data-v-a9660e98="" class="mian game">
      <div data-v-106b99c8="" data-v-a9660e98="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/index_files/h5setting_202401100608011fs2.png" class="logo" style="width: 2.98667rem;height: 1.12rem;background-repeat: no-repeat;background-size: 2.98667rem 1.12rem;background-position: center;">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center" onclick="location.href='/keFuMenu'">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio" />
            </div>
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume" />
            </div>
          </div>
        </div>
      </div>
      <!---------->
      <div data-v-a9660e98="" data-v-a9660e98="" class="game-head">
     <div data-v-a9660e98=""  data-v-7dd1adab="" data-v-5d71c3fd="" clas="Wallet__C">
     <div data-v-a9660e98="" data-v-7dd1adab="" class="Wallet__C-balance">
      <div data-v-a9660e98="" data-v-7dd1adab="" class="Wallet__C-balance-l1">
       <div data-v-a9660e98="" data-v-a9660e98="" data-v-7dd1adab="" class="num reload_money">
       <span data-v-a9660e98=""> ₹0.00</span>
       </div>
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l2 reload_money">
       <div data-v-7dd1adab="">
        Wallet balance
       </div>
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
       <div data-v-7dd1adab="" onclick="location.href='/wallet/withdrawal'">
        Withdraw
       </div>
       <div data-v-7dd1adab="" onclick="location.href='/wallet/recharge'">
        Deposit
       </div>
      </div>
     </div>
    </div>
    <div data-v-a9660e98="" class="m-t-15 notice">
     <div data-v-5d71c3fd="" class="noticeBar__container">
     <div class="notice_svg"></div>
     <div class="noticeBar__container-body">
      <div class="noticeBar__container-body-text">
       Welcome to 91club! We have a variety of games, promos and bonus for you to enjoy, so why wait? Go register and enjoy the variety reward awaits you.
      </div>
     </div>
     <button class="hotIcon">Detail</button>
    </div>
    </div>
</div>
      <!---------->
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <div data-v-a9660e98="" class="game-betting">
        <div data-v-a9660e98="" class="tab">
          <%- include('element/e_tab_time.ejs') -%>
        </div>
        <div data-v-a9660e98="" class="content">
          
            <div data-v-3e4c6499="" class="TimeLeft__C ">
     <div data-v-3e4c6499="" class="TimeLeft__C-rule time-box">
      <svg data-v-3e4c6499="" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36" fill="none">
       <path data-v-3e4c6499="" d="M23.67 3H12.33C6.66 3 5.25 4.515 5.25 10.56V27.45C5.25 31.44 7.44 32.385 10.095 29.535L10.11 29.52C11.34 28.215 13.215 28.32 14.28 29.745L15.795 31.77C17.01 33.375 18.975 33.375 20.19 31.77L21.705 29.745C22.785 28.305 24.66 28.2 25.89 29.52C28.56 32.37 30.735 31.425 30.735 27.435V10.56C30.75 4.515 29.34 3 23.67 3ZM11.67 18C10.845 18 10.17 17.325 10.17 16.5C10.17 15.675 10.845 15 11.67 15C12.495 15 13.17 15.675 13.17 16.5C13.17 17.325 12.495 18 11.67 18ZM11.67 12C10.845 12 10.17 11.325 10.17 10.5C10.17 9.675 10.845 9 11.67 9C12.495 9 13.17 9.675 13.17 10.5C13.17 11.325 12.495 12 11.67 12ZM24.345 17.625H16.095C15.48 17.625 14.97 17.115 14.97 16.5C14.97 15.885 15.48 15.375 16.095 15.375H24.345C24.96 15.375 25.47 15.885 25.47 16.5C25.47 17.115 24.96 17.625 24.345 17.625ZM24.345 11.625H16.095C15.48 11.625 14.97 11.115 14.97 10.5C14.97 9.885 15.48 9.375 16.095 9.375H24.345C24.96 9.375 25.47 9.885 25.47 10.5C25.47 11.115 24.96 11.625 24.345 11.625Z" fill="currentColor"></path>
      </svg>How to play
     </div>
     <div data-v-3e4c6499="" class="TimeLeft__C-name">
      Win Go 1 Min
     </div>
     <div data-v-3e4c6499="" class="TimeLeft__C-num">
      <div data-v-3e4c6499="" class="n9"></div>
      <div data-v-3e4c6499="" class="n2"></div>
      <div data-v-3e4c6499="" class="n5"></div>
      <div data-v-3e4c6499="" class="n8"></div>
      <div data-v-3e4c6499="" class="n0"></div>
     </div>
     <div data-v-3e4c6499="" class="time-box">
     <div data-v-3e4c6499="" class="info">
     <div data-v-3e4c6499="" class="TimeLeft__C-id number">Loading......
     </div>
      </div>
       </div>
     <div data-v-3e4c6499="" class="TimeLeft__C-text">
      Time remaining
     </div>
     <div data-v-3e4c6499="" class="TimeLeft__C-time number">
      <div data-v-3e4c6499="" class="item">
       0
      </div>
      <div data-v-3e4c6499="" class="item">
       0
      </div>
      <div data-v-3e4c6499="" class="item">
       :
      </div>
      <div data-v-3e4c6499="" class="item">
       0
      </div>
      <div data-v-3e4c6499="" class="item">
       0
      </div>
     </div>
    </div>
      
          <%- include('element/e_bet.ejs') -%>
        </div>
      </div>
      <div data-v-a9660e98="" class="game-list p-b-20">
        <%- include('element/list-order.ejs') -%>
        <%- include('element/join.ejs') -%>

      </div>
      <!---->
      <!---->
      <!---->
      <div data-v-a9660e98="" id="moveBox" class="moveBox" style="display: none">
        <div data-v-a9660e98="" class="moveHead c-row c-row-between c-row-middle">
          <div data-v-a9660e98="" class="close">Close</div>
          <div data-v-a9660e98="">
            <span data-v-a9660e98="">Full Screen</span>
          </div>
        </div>
        <div data-v-a9660e98="" class="long">
          <div data-v-a9660e98="" class="van-tabs van-tabs--line">
            <div class="van-tabs__wrap van-hairline--top-bottom">
              <div role="tablist" class="van-tabs__nav van-tabs__nav--line">
                <div role="tab" aria-selected="true" class="van-tab van-tab--active">
                  <span class="van-tab__text van-tab__text--ellipsis">Bệt rồng mới nhất</span>
                </div>
                <div role="tab" class="van-tab">
                  <span class="van-tab__text van-tab__text--ellipsis">My Bets</span>
                </div>
                <div class="van-tabs__line"></div>
              </div>
            </div>
            <div class="van-tabs__content">
              <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="">
                <div data-v-a9660e98="" class="longlist"></div>
              </div>
              <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="display: none">
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-a9660e98="" id="sipachp">
        <!-- <audio data-v-a9660e98="" id="voice1" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di1.da40b233.mp3" type="audio/mpeg" />
                    </audio>
                    <audio data-v-a9660e98="" id="voice2" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di2.317de251.mp3" type="audio/mpeg" />
                    </audio> -->
      </div>
      <div data-v-a9660e98="" class="popup-qt van-popup van-popup--center" style="width: 80%; border-radius: 10px; max-width: 340px; z-index: 2040;display: none;">
        <div data-v-a9660e98="" class="rule-box">
          <div data-v-a9660e98="" class="title c-row c-row-middle-center">Pre-Selling Rules</div>
          <div data-v-a9660e98="" class="info">
            <div data-v-a9660e98="" class="comment"> To protect users' rights - legitimate interests
               participate in the pre-sale and maintain the normal operating sequence of the pre-sale, the rules
               rules developed under the agreement in accordance with the relevant agreements and rules of
               national laws and regulations.  Chapter 1 Definition1.1 Definition of presale: refer to
               A sales model in which a seller offers a bundle of products or services to collect orders
               Consumer ordering through pre-sale and delivery product tools
               goods and services to the seller as agreed in advance.  1.2 The pre-sale model is the "Signed ." model
               "Deposit" is referred to as a fixed amount of pre-sold goods
               available.  The "deposit" can participate in mini games and have a chance to win a lot
               profit.  Deposits can be exchanged directly for goods but the deposit amount
               Not for exchange.1.3 Pre-sale products: Products provided by the seller
               By using the pre-sale product tool, only pre-sale words are highlighted on the
               the title or on the product detail page, in addition other products do not use
               Pre-sale product tools are not pre-sale products.1.4 Pre-sale system:
               Access to the system of product tools provided to support sales by selling model
               before.  1.5 Pre-sale goods price: is the price of goods before sale.  The price of the goods
               Pre-sale consists of two parts: selling price and payment. </div>
            <div data-v-a9660e98="" class="rule-btn c-row m-t-20 c-row-center">
              <button data-v-a9660e98="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    <span data-v-a9660e98="">I know</span>
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <%- include('element/alert.ejs') -%>
    </div>
    <div data-v-7692a079="" data-v-a9660e98="" class="Loading c-row c-row-middle-center">
      <div data-v-7692a079="" class="van-loading van-loading--circular">
        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="-webkit-animation-duration: 1s; animation-duration: 1s;">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet" style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
              <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)" style="display: block;">
                  <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice" xlink:href="/index_files/loadingspinner.png"></image>
              </g>
              <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)" style="display: block;">
                  <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice" xlink:href="/index_files/h5setting_202401100608011fs2.png"></image>
              </g>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <!-- The Modal -->
<div id="myModal" class="modal" style="display: none">

  <!-- Modal content -->
  <div class="modal-content">

    <img src="/missningBg-9deda6ac.png" alt="Popup Image">
    <div class="text-over-image">
        <!-- Your text here -->
        <div id="myModal_header">Congratulations</div><br>
      </div>
      <div class="text-over-image-l">
        <!-- Your text here -->
        <div id="lottery_result">Lottery Result: <span class="btn-boox">Green</span><span class="btn-boox">7</span><span class="btn-boox">Big</span></div><br>
      </div>
      <div class="text-over-image-2">
        <!-- Your text here -->
        <div id="myModal_result">Win: 50</div><br>
      </div>
      <div class="text-over-image-3">
        <!-- Your text here -->
        <div id="myModal_result_Period">Period: 1 Minute 1234567890 </div><br>
      </div>
    <div class="close-btn">
        <span class="close-x">&times;</span>
    </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the element that closes the modal
var closeBtn = document.querySelector(".close-btn");



// When the user clicks on the close button, close the modal
closeBtn.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, also close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/client.js"></script>
   <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
  <script src="/js/wingo1.js"></script>
   <script>
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/GetUserInfo",
                    dataType: "json",
                    success: function (response) {
                        let user = response.data;

                        $('.moneyu').text("₹" + user.money_user + ".00");


                    }
                });

          


            </script>
</body>

</html>